nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #beaa84;
    padding: 10px 170px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    color: black;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: wheat;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover {
    color: black;
}

#navbar li a:hover::after,
#navbar li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}